* {
  /* background-color: #0e406a; */
  font-family: "JetBrains Mono", monospace;
  /* color: #fff; */
}
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("./Assets/Font/static/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("./Assets/Font/static/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
